
DEPLOYER_ACCOUNT_ID=bob.testnet
CONTRACT_ACCOUNT_ID=payments.bob.testnet

PASSKEY_CONTROLLER_CONTRACT_ID=passkey-controller.testnet
PAYMENTS_CONTRACT_ID=payments.cyan-loong.testnet

DEPLOYER_PUBLIC_KEY=ed25519:
DEPLOYER_PRIVATE_KEY=ed25519:
